@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: roboto, sans-serif;
    font-weight: 250;
    color: #7D7A79;
}

h2 {
    color: white;
}

/* Logo and heading */

#header-text {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    color: #7D7A79;
    letter-spacing: 10px;
    text-align: center;
    margin-top: 20px;
    font-weight: 1000;
}



/* Hero image and header text link */ 

#hero-image {
  background: url(../assets/images/beer-header.jpg) no-repeat center center;
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

#header-text a {
    text-decoration: none;
    color: inherit;
}


/* Nav links */

#nav-menu {
    font-size: 120%;
    letter-spacing: 6px;
    margin-top: 20px;
    text-transform: uppercase;


}

#nav-menu li {
    float: left;
    list-style-type: none;
    margin-left: 330px;

}

#nav-menu a {
    text-decoration: none;
    color: inherit;

}

#nav-menu a:hover {
    border-bottom: 1px solid #3a3a3a;

}

#nav-menu a:active {
    border-bottom: 1px solid #3a3a3a;

}


/* Beers section */

.underline {
    border-bottom: 1px solid #3a3a3a;
    width: 60%;
    display: block;
    margin-left: 350px;
    margin-top: 30px;

}

#our-vision {
    text-align: center;
    margin-top: 200px;

}

.info {
    font-size: 30px;
    margin-top: 30px;

}


p {
    font-size: 25px;
    margin-top: 25px;

}

#beer-section {
    text-align: center;
    text-transform: capitalize;
    
}

.diffrent-beers {
    height: 300px;
    width: 300px;
    margin-left: 750px;
    margin-top: 50px;
    
}

#lager-beer {
    background: url(../assets/images/lager-beer.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
    
}

#ipa-beer {
    background: url(../assets/images/ipa-beer.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
    
}

#sour-beer {
    background: url(../assets/images/sour-beer.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    
}


footer {
    height: 150px;
    position: fixed;
    bottom: 30px;
    width: 100%;

}

.social-networks {
    text-align: center;

}

.social-networks li {
    display: inline;

}

.social-networks i {
    font-size: 180%;
    margin: 2%;
    padding: 5%;
    color: #3a3a3a;

}

